# Archivos y carpetas de compilación que deben ser ignorados
debugConfig/
listings/
objects/
RTE/
Mod_JOY/EventRecorderStub.scvd

# para Mod_clk
Mod_clk/EventRecorderStub.scvd
Mod_clk/Proyecto_B3.uvguix.susan
Mod_clk/Proyecto_B3.uvoptx

# para Mod_LCD
Mod_LCD/EventRecorderStub.scvd
Mod_LCD/Proyecto_B3.uvguix.susan
Mod_LCD/Proyecto_B3.uvoptx

# para Mod_JOY
Mod_JOY/moduloJoystick.uvguix.susan
Mod_JOY/moduloJoystick.uvguix.susana.tellez
Mod_JOY/moduloJoystick.uvoptx

# para Mod_temp
Mod_temp/EventRecorderStub.scvd
Mod_temp/modTemp.uvguix.susan
Mod_temp/modTemp.uvoptx

# para Mod_PWM
Mod_PWM/EventRecorderStub.scvd
Mod_PWM/moduloPWM.uvguix.susan
Mod_PWM/moduloPWM.uvoptx

# para Mod_ComPC
Mod_ComPC/EventRecorderStub.scvd
Mod_ComPC/ModComPC.uvguix.susan
Mod_ComPC/ModComPC.uvoptx

# para Mod_POT_2


# para Mod_LED_RGB
Mod_RGB/EventRecorderStub.scvd
Mod_RGB/moduloRGB.uvguix.susan
Mod_RGB/moduloRGB.uvoptx

# para Mod_MP3
Mod_MP3/EventRecorderStub.scvd
Mod_MP3/ModMp3.uvguix.susan
Mod_MP3/ModMp3.uvoptx
